<h4>Example: Simple</h4>

<p>
The data that was passed to `res.render` is:
<code>var data = {name: 'Gorilla'};</code>
</p>

<p>
We can display the value of <em>name</em> using <code>&#123;&#123;name&#125;&#125;</code>, which results in: <b>{{name}}</b>.
</p>